* {
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #111;
    color: white;
}

::-webkit-scrollbar {
    width: 12px;
    display: none;
}


.navbar {
    width: 100%;
    height: 60px;
    background-color: rgba(17, 17, 17, 0.7);
    position: absolute;
    display: flex;


}

.navbar.active{
    background-color: rgba(255, 255, 255, 0.315);
}

.logo img {
    width: 70px;
}


.navbar-li {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.navbar-li ul {
    display: flex;
    padding: 22px 0px;
    align-items: center;
    justify-content: center;
}

.navbar-li li {
    padding: 0px 20px;
    color: rgba(245, 245, 245, 0.904);
}

.navbar-li li.active{
    color: #000000;
}

.navbar-li li:hover {
    color: rgba(255, 255, 255, 0.589);
    cursor: pointer;
}

.pp img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    text-align: right;
    justify-content: right;
    padding: 12px 0px;
}


.dropdown {
    min-width: 0em;
    position: relative;
    margin: 1em 0.4em;
    /* padding: 15px 0px; */
    color: #fff;

}


.dropdown * {
    box-sizing: border-box;
}

.select {
    background: #9a1919 transparent;
    color: #fff;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border: 0.5px #2a2f3b transparent solid;
    border-radius: 0.5em;
    padding: 0.5em 0.8em 0.5em 0.5em;
    cursor: pointer;
    transition: 0.3s;
}

.select-clicked {
    border: 3px #dc2626 solid;
    box-shadow: 0 0 0.8em #9a1919;
}

.select:hover {
    background: #9a1919;
    color: #740a0a;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.5s;
}

.caret.active{
    border-top: 6px solid #000000 ;
    
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.6em 0.5em;
    background: #111;
    border: 3px #9a1919;
    box-shadow: 0 0.5em 1em rgb(255, 0, 0, 0.6);
    border-radius: 0.5em;
    color: #fff;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 300%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    /* justify-content: center; */
    /* align-items: center; */
    transition: 0.4s;
    /* z-index: 1; */
}

.menu li {
    padding: 0.4em 0.5em;
    margin: 5px 0px;
    padding: 0px 5px 0px 0px;

    border-radius: 0.5em;
    cursor: pointer;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;

}

.menu li.active {
    color: #000000;
    font-weight: bold;
}

.menu li:hover {
    background: #500404;
}

.menu-open {
    display: block;
    opacity: 1;
}


/* TOGGLE */

.toggle {
    width: 45px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin: 20px 20px;

}

.toggle-icon {
    color: goldenrod;
}

.toggle-icon-moon {
    color: #0e1b35;
}

.toggle-ball {
    width: 18px;
    height: 18px;
    background-color: #111;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease all;
}

.toggle.active{
    background-color: #141414;
}

.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}

.featured-content {
    min-height: 100vh;
    width: 100%;
    /* background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(); */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), #111), url("images/bg.jpg");
    /* background-position: center; */
    background-size: cover;
    /* position: relative; */
}


.background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* position: relative; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}


.movie-column-h1 h1{
    padding:30px 0px 0px 25px;
}

.movie-column {
    display: flex;
    align-items: center;
    height: 450px;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
    margin: 0px 0px 0px 10px;
    /* flex-wrap: nowrap; */
    /* position:sticky; */
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    
}

.movie {
    /* margin-right: 30px; */
    position: relative;
    align-items: center;
    justify-content: center;
    

}

.movie img {
    margin: 15px;
    /* border: 2px solid #fff; */
    border-radius: 15px;

}

.movie:hover .movie-img {
    transform: scale(0.93);
    margin: 0 30px;
    opacity: 0.5;
}

.movie:hover .movie-title,
.movie:hover .movie-desc,
.movie:hover .movie-button {
    opacity: 1;
}

.movie-img {
    transition: all 0.7s ease-in-out;
    width: 230px;
    height: 360px;
    object-fit: cover;
    /* border-radius: 10px; */
}

.movie-title {
    background-color: rgba(0, 0, 0, 0.35);
    padding: 0 5%;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 9%;
    left: 38px;
    width: 185px;
    opacity: 0;
    transition: 1s all ease-in-out;
    color: #dddddd;
}

.movie-desc {
    background-color: rgb(0, 0, 0, 0.35);
    padding: 5%;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 38px;
    width: 185px;
    display: flex;
    opacity: 0;
    transition: 1s all ease-in-out;
    color: #b9b9b9;
}

.movie-button {
    padding: 8px;
    background-color: #dc2626;
    color: white;
    border-radius: 10px;
    outline: #dc2626;
    border: #9a1919;
    cursor: pointer;
    position: absolute;
    bottom: 28px;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}



body.active{
    background-color: #fff;
}

.menu.active {
    background: #fff;
}

.movie-desc.active{
    color: #000000;
    
}

.movie-title.active{
    color: #000000;
}

.movie-column-h1.active{
    color: #000000;
}

.movie img.active{
    box-shadow: 0px 0px 10px 4px #646464;
}

.movie img{
    box-shadow: 0px 0px 6px 4px #0f0f0f;
}

.movie-button.active{
    box-shadow: 0px 0px 4px 2px #646464;
}